:root {
    --dark-blue: #615EFC;
    --light-blue: #7E8EF1;
    --light-green: #D1D8C5;
    --light-red: #EEEEEE;
    --black: #000000;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --dark-blue-shadow: rgba(39, 36.9, 98.8, 0.5);
    --light-blue-shadow: rgba(49.4, 55.7, 94.5, 0.5);
    --light-green-shadow: rgba(82, 84.7, 77.3, 0.5);
    --light-red-shadow: rgba(93.3, 93.3, 93.3, 0.5);
    --netherland-text: "Playwrite NL", cursive;
    --sans-text: "Work Sans", sans-serif;
}

body {
    font-size: 1.2rem;
    font-family: var(--sans-text);
}

/* Hero style */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/bg-wedding.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h4,
.hero h1,
.hero p {
    text-shadow: var(--shadow);
}

.hero h4 {
    font-size: 1.6rem;
    color: var(--light-red);
}

.hero h1 {
    font-family: var(--netherland-text);
    font-size: 3rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: var(--light-red);
}

.hero p {
    font-size: 1.4rem;
    color: var(--light-red);
}

.hero a {
    color: var(--light-green);
    background-color: var(--light-blue);
    border: 1px solid var(--black);
    box-shadow: var(--shadow);
}

.hero a:hover {
    border: 1px solid var(--light-blue);
    color: var(--light-red);
    background-color: transparent;
    box-shadow: var(--shadow);
}

/* End hero style */

/* Main style */
main {
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
}

/* End main style */

/* Navbar style */
.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(3px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: var(--netherland-text);
    font-size: 2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    font-weight: 400;
    text-transform: uppercase;
}

/* End navbar style */

/* Home style */
.home {
    background-image: url(img/bg-home-wedding.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -4.6rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.home h2 {
    color: var(--dark-blue);
    font-family: var(--netherland-text);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.home h3 {
    color: var(--light-blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: var(--black);
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: var(--netherland-text);
    font-size: 2.4rem;
    color: var(--dark-blue);
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    margin-top: 13px;
    color: var(--light-blue);
}

/* End home style */

/* Info style */
.info {
    background-color: var(--light-blue);
    color: var(--light-red);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.info h2 {
    color: var(--dark-blue);
    font-family: var(--netherland-text);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid var(--black);
    box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.5);
}

.info .card-header {
    border-bottom: 1px solid var(--black);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid var(--black);
    font-size: 0.9rem;
    font-weight: 300;
}

/* End info style */

/* Story style */
.story h2 {
    color: var(--dark-blue);
    font-family: var(--netherland-text);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.story {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(img/bg-story-timeline-wedding.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.story span {
    text-transform: uppercase;
    color: var(--light-blue);
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 2rem;
}
.story p {
    font-size: 1rem;
    font-weight: 300;
}
.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}
.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: var(--black);
    left: 50%;
}
.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}
.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}
.timeline li::after {
    clear: both;
}
.timeline li .timeline-img {
    width: 160px;
    height: 160px;
    background-color: var(--black);
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid var(--black);
    padding: 1.5rem;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.2));
}
.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid var(--black);
    border-right: 0 solid var(--black);
    border-bottom: 15px solid transparent;
    top: 90px;
    right: -15px;
}
.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: block;
    border-top: 14px solid transparent;
    border-left: 14px solid rgba(255, 255, 255, 0.98);
    border-right: 0 solid rgba(255, 255, 255, 0.98);
    border-bottom: 14px solid transparent;
    top: 91px;
    right: -13px;
}
.timeline li.timeline-inverted .timeline-panel {
    float: right;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    top: 100px;
}
.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
    top: 101px;
}

/* End story style */

/* Gallery style */
.gallery h2 {
    color: var(--dark-blue);
    font-family: var(--netherland-text);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.gallery {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/bg-gallery-wedding.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery span {
    text-transform: uppercase;
    color: var(--light-blue);
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 2rem;
}
.gallery p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--light-red);
}

/* Media query */

/* Extra large */
@media (max-width: 1200px) {
    .home .heart {
        width: 30px;
        height: 30px;
        transform: translateX(-50%) translateY(55px);
    }

    .home .heart i {
        font-size: 15px;
        margin: auto;
        margin-bottom: 2px;
        margin-left: -5px;
    }

    .timeline li .timeline-panel {
        right: 15px;
    }

    .timeline li .timeline-panel::before {
        top: 100px;
    }

    .timeline li .timeline-panel::after {
        top: 101px;
    }

    .timeline li.timeline-inverted .timeline-panel {
        left: 15px;
    }
}

/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 70px;
    }

    .home .heart {
        display: none;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-img {
        left: 15px;
        margin-left: 45px;
        top: 15px;
    }

    .timeline li .timeline-panel {
        width: calc((100% - 200px));
        float: right;
    }

    .timeline li.timeline-inverted .timeline-panel {
        left: -15px;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 75px;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
        top: 76px;
    }

    .timeline li.timeline-inverted .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 75px;
    }

    .timeline li.timeline-inverted .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
        top: 76px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 1.8rem;
        text-align: center;
    }

    .sticky-top {
        overflow: hidden;
    }

    .home .heart {
        display: none;
    }

    .timeline li .timeline-img {
        width: 140px;
        height: 140px;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 65px;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
        top: 66px;
    }

    .timeline li.timeline-inverted .timeline-panel::before{
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 65px;
    }

    .timeline li.timeline-inverted .timeline-panel::after{
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
        top: 66px;
    }
}

/* Mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 45px;
        margin: 4px;
    }

    .simply-countdown>.simply-section:hover {
        padding: 45px;
        margin: 4px;
    }

    .timeline li .timeline-img {
        width: 120px;
        height: 120px;
    }

    .timeline li .timeline-panel {
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 60px;
    }

    .timeline li .timeline-panel::after {
        top: 61px;
    }

    .timeline li.timeline-inverted .timeline-panel::before {
        top: 60px;
    }

    .timeline li.timeline-inverted .timeline-panel::after {
        top: 61px;
    }
}

@media (max-width: 476px) {
    html {
        font-size: 50%;
    }

    .simply-countdown>.simply-section {
        padding: 30px;
        margin: 3px;
    }

    .simply-countdown>.simply-section:hover {
        padding: 30px;
        margin: 3px;
    }

    .timeline li .timeline-img {
        width: 20px;
        height: 20px;
    }

    .timeline li .timeline-panel {
        width: 40% !important;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 60px;
    }

    .timeline li .timeline-panel::after {
        top: 61px;
    }

    .timeline li.timeline-inverted .timeline-panel::before {
        top: 60px;
    }

    .timeline li.timeline-inverted .timeline-panel::after {
        top: 61px;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 325px) {
    html {
        font-size: 40%;
    }

    .simply-countdown>.simply-section {
        padding: 26px;
        margin: 4px;
    }

    .simply-countdown>.simply-section:hover {
        padding: 26px;
        margin: 4px;
    }

    .timeline li .timeline-img {
        width: 100px !important;
        height: 100px !important;
    }

    .timeline li .timeline-panel {
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 60px;
    }

    .timeline li .timeline-panel::after {
        top: 61px;
    }

    .timeline li.timeline-inverted .timeline-panel::before {
        top: 60px;
    }

    .timeline li.timeline-inverted .timeline-panel::after {
        top: 61px;
    }

    .navbar-toggler {
        display: none;
    }
}